.main-container {
    max-width: 1024px;
    margin:  auto;
}

main {
    float: left;
    width: 70%;
}

h1 {
    font-size: 32px;
    border: 3px solid black;
    transition: all 0.5s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 120px;
}

.h1:hover {
    padding: 4px 48px;
    background: red;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.btn-readmore {
    color: red;
    font-size: 18px;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
}

.pagination {
    font-size: 14px;
    color: gray;
    display: inline-block;
}

  .pagination a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 4px;
  }